*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-brand{
  font-size: 2rem;
  color: black;
  font-family: 'Lemon', serif;

}
.navbar-brand:hover{
   font-weight: bold;
  color:black;
}
.nav-link{
  margin-right: 10px;
  margin-left:10px;
  color : #86A7FC;
  text-transform: uppercase;
  font-family: 'Salsa', cursive;
}
.nav-link:hover{
  font-weight:bold;
  color: #3468C0;
}
.search{
  height: 40px;
  width: 80%;
  border-radius:40px;
  outline: none;
  border: 2px solid rgb(242,22,90);
  margin-right: -35px;
  font-family: 'Salsa', cursive;"
}
.btn0{
  height:40px;
  width:40%;
  outline: none;
  border:none;
  background:  rgb(242,22,90);
  color: white;
  border-radius: 40px;
  font-weight: 700;
    font-family: 'Salsa', cursive;
}
.btn0:hover{
  font-weight: bold;
  color:#E6BAA3;
}

.main{
  background:url(pic1.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  width:100%
}
.main h1{
  font-size: 3rem;
  font-weight: 600;
}
.btn1{
  height:45px;
  width:30%;
  border: none;
  outline: none;
  border-radius: 40px;
  background-color:  rgb(242,22,90);
  color: white;
  font-weight:700;
}
.btn1:hover{
  font-weight: bold;
  color:#E6BAA3;
  transition: 0.6s;
}

.card:hover{
  box-shadow: 10px 4px 23px -6px rgba(0,0,0,0.7);
  -webkit-box-shadow: 10px 4px 23px -6px rgba(0,0,0,0.7);
  -moz-box-shadow: 10px 4px 23px -6px rgba(0,0,0,0.7);
  transition: 0.5s;
}

.apple{
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(apple.jpg) no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.apple h1{
  font-family: 'Salsa', cursive;
}